.editor {
	flex-grow: 1;
}

.editor-ui {
	display: flex;
	flex-direction: row;
}

.main div.btnGroup {
	display: inline-block;
	width: fit-content;
	position: relative;
	top:50px
}

.btnGroup button {
	display: block;
	margin: 5px;
	width: 150px;
}

json-editor {
	width: 75%;
	height: 500px;
	font-size: 18px;
}